@media screen and (max-width: 1000px){
    .new_box:first-child{
        display: none;
    }
    .new_box:nth-child(2){
        display: none;
    }
    .new_box:nth-child(3){
        display: none;
    }
    .new_boxes{
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .new_box{
        width: 38vw !important; 
        background-color: whitesmoke;
    }
    .new_box .text{
        position: relative;
        display: flex;
        flex-direction: column;
        transform: translate(0);
        color: #000;
        padding: 20px 20px;
        width: 100% !important;
    }
    .text h1{
        font-size: 3vw;
    }
    .text p{
        font-size: 2vw;
    }
    .new_box:hover .text{
        transform: translate(0);
    }
    .text a{
        opacity: 1;
        color: black;
        font-size: 2vw;
    }
    .new_box img{
        height: 25vw;
    }
    .footer_nav {
        flex-direction: column;
        text-align: start;
    }
    .item ul li::after{
        content: '';
        margin-top: 5px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.194);
    }
    .item ul li{
        display: flex;
        flex-direction: column;
    }
    .item h3::after{
        content: '';
        margin-top: 5px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.194);
    }
    .item h3{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    .copr_box{
        width: 32%;
    }
    .copr_box h3{
        font-size: 16px;
    }
    .copr_box p{
        font-size: 13px;
    }
    .corporate .corp_boxes{
        justify-content: space-between;
    }
    .region_set {
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: start;
    }
    .region{
        overflow: scroll;
    }
    .title{
        gap: 5vh;
        flex-wrap: wrap;
    }
    .title img{
        width: 100%;
    }
    .title_text{
        width: 100%;
    }
    .nav_bar img{
        width: 10vh;
    }
    #center .container{
        align-items: center;
        text-align: center;
    }
    #center h2{
        align-items: center;
    }
}

@media screen and (max-width: 600px){
    .container {
        width: 95%;
    }
    body.corpo .corporate{
        height: 50vh;
        width: 100%;
        overflow: scroll;
    }
    .corporate .corp_boxes{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 30px;
    }
    .copr_box{
        gap: 5px;
        width: 100%;
    }
    .login .ul{
        justify-content: space-between;
    }
    #nav_ul{
        display: none;
    }
    .region_set .region p{
        text-align: center;
        align-items: center;
    }
    .region_set{
        justify-content: start;
    }
    .region h2{
        font-size: 16px;
    }
    .title_text h1{
        font-size: 5vh;
    }
    .title_text p{
        font-size: 3vh;
    }
    .event_box{
        width: 100%;
    }
    .event_last{
        width: 100%;
    }
    .new_box{
        width: 100% !important;
        height: auto;
    }
    .new_box img{
        height: auto;
    }
    .text h1{
        font-size: 5vw;
    }
    .text p{
        font-size: 3vw;
    }
    .text a{
        font-size: 3vw;
        display: block;
        text-align: end;
    }
    .event_btn{
        font-size: 3vw;
    }
    .item {
        margin-top: 30px;
    }
    
}





@media screen and (max-height: 500px){
    .title h1{
        font-size: 10vh;
    }
    .title p{
        font-size: 7vh;
    }
}
