@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
#container{
    width: 90%;
    margin: 0 auto;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 5vh 0vh;
}
.header_title img{
    width: 100%;
}
.login{
    background-color: black;
}
.login .ul{
    display: flex;
    padding: 0px 0px;
    justify-content: end;
    gap: 30px;
    color: white;
    opacity: .8;
    font-size: 13px;
}
.ul li{
    cursor: pointer;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.corporate{
    width: 100%;
    background-color: whitesmoke;
    height: 0;
    overflow: hidden;
    transition: all .5s linear;
}
.corporate .corp_boxes {
    display: flex;
    justify-content: flex-start;
    padding: 50px 0px;
    flex-wrap: wrap;
}
.copr_box{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.copr_box h3, p{
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: .8;
}
.copr_box h3 a{
    color: black;
}
.copr_box h3 a:hover{
    text-decoration-line: underline;
}
.angle-right{
    transform: rotate(90deg);
    transition: all .2s linear;
}
.copr_box h3:hover .angle-right{
    transform: translateX(10px) rotate(90deg);
    color:  rgb(228, 37, 4);
}
.angle-corp{
    transition: all .2s linear;
}
body.corpo .corporate{
    height: 200px;
}
body.corpo .ul li .angle-corp{
    transform: rotate(180deg);
}
.region_set{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.regions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.region{
    background-color: whitesmoke;
    height: 0px;
    overflow: hidden;
    transition: all .5s linear;
}
.region span{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.region span:hover{
    text-decoration-line: underline;
    opacity: 1;
}
body.tillar .region{
    padding: 20px 0px;
    height: 450px;
}
.angle-reg {
    transition: all .2s linear;
}
body.tillar .angle-reg{
    transform: rotate(180deg);
}
body.corpo #corporate_id{
    background-color: white;
    color: gray;
}
body.tillar #davlat{
    background-color: white;
    color: gray;
}
nav{
    padding: 20px 0px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
}
.nav_bar img{
    width: 15vh;
}
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_bar #search_bar {
    position: absolute;
    right: 5%; 
    display: flex;
    align-items: center;
    transform: scale(0);
    transform-origin: right;
    transition: all .2s linear;

}
.nav_bar button {
    background-color: transparent;
    border: none;
    opacity: 1;
}
#nav_ul{
    display: flex;
    gap: 30px;
    cursor: pointer;
    transition: all .2s linear;
}
#nav_ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
#search_bar i{
    font-size: 25px;
    border-left: none;
    padding: 2.5px 10px;
}
#search_bar input{
    outline: none;
    border-right: none;
    border: 1px solid black;
    padding: 2px 5px;
    font-size: 16px;
}
#srch_btn{
    transition: all .2s linear;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 0vh;
}
.title img{
    width: 45vw;
}
.title_text{
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_text h1{
    font-size: 6vh;
    width: 100%;
    text-align: center;
}
.title_text p{
    font-size: 4vh;
}
.title_text button{
    padding: 7px 5vh;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
    transition: all .1s linear;
}
.title_text button:hover{
    background-color: #c7000b;
    color: white;
    border-color: #c7000b;
}
.header_title{
    background-image: linear-gradient(white, white, rgba(0, 0, 0, 0.179));
}
.section_title{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    margin-bottom: 10vh;
}
.section_title h2{
    display: flex;
    flex-direction: column;
}
.section_title h2::after{
    content: '';
    width: 40%;
    height: 2px;
    background-color: #c7000b;
    margin: 0 auto;
}
.new_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new_boxes div:first-child{
    width: 50vw;
}
.new_box{
    margin-top: 3vh;
    overflow: hidden;
}
.new_box img{
    width: 100%;
    transition: all .2s linear;
}
.new_boxes div:nth-child(2){
    width: 24vw;
}
.new_boxes div:nth-child(3){
    width: 24vw;
}
.new_boxes div:nth-child(4){
    width: 50vw;
}
.new_boxes div:nth-child(5){
    width: 25vw;
}
.new_boxes div:nth-child(6){
    width: 25vw;
}
.new_boxes div:nth-child(7){
    width: 25vw;
}

.new_box:hover img{
    transform: scale(1.03);
    background-image: linear-gradient(white, white, rgba(0, 0, 0, 0.291));
}
