@media screen and (max-width: 1300px) {
    nav #container{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: white;
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
    }
    nav{
        align-items: start;
        padding: 0;
    }
    #container ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    #container ul li a{
        display: flex;
        flex-direction: column;
    }
    #container ul li a::after{
        content:  '';
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.155);
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    #consumer_boxes{
        overflow: scroll;
    }
    .tel-box{
        width: 40%;
    }
}
@media screen and (max-width: 900px) {
    .header_title img{
        width: 100%;
    }
    .container2{
        width: 80%;
    }
    .buttons-container{
        width: 80%;
        transform: translateY(-40vw);
    }
    .title{
        font-size: 2.5vh;
    }
    .opacity div:first-child{
        width: 10%;
        box-shadow: 20px 0px 50px rgba(240, 248, 255, 0.252);
    }
    .opacity div:last-child{
        width: 10%;
        box-shadow: -20px 0px 50px rgba(240, 248, 255, 0.252);
    }
}

@media screen and (max-width: 600px) {
    .tel-box{
        width: 80%;
    }
}